@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faf6f6;
  background: rgba(23, 23, 33);
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.alarm {
  animation-name: alarm;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* glowing bg implementation */
.app {
  position: relative;
  padding: 2rem;
  background: rgba(34, 34, 44, 0.6);
  border-radius: 20px;
}

.app::before,
.app::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  /* border: 2px solid blue; */
  border-radius: inherit;
  /* background-color: rgba(236, 102, 255, 0.8); */
  background: conic-gradient(
    from var(--gradient-angle),
    rgba(236, 102, 255, 0.8),
    rgba(67, 230, 252, 0.7),
    rgba(236, 102, 255, 0.8),
    rgba(255, 158, 189, 0.7),
    rgba(236, 102, 255, 0.8)
  );
  animation: rotation 8s linear infinite;
  z-index: -1;
}

.app::after {
  filter: blur(3rem);
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  .app {
    border-radius: 40px;
    background: rgba(
      34,
      34,
      44,
      0.8
    ); /* Slightly darker background for contrast */
    box-shadow: 0 15px 30px -10px rgba(236, 102, 255, 0.8),
      0 10px 20px -15px rgba(67, 230, 252, 0.7); /* Dual shadow with complementary colors */
  }
}

/* @media screen and (min-width: 768px) {
  .app {
    border-radius: 40px;
    background: rgba(34, 34, 44, 0.6);
  }
} */

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

@keyframes alarm {
  0% {
    opacity: 1;
  }

  /* 50%{
    opacity: 0.5;
  } */

  100% {
    opacity: 0;
  }
}
