@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faf6f6;
}

body {
  background: radial-gradient(
    circle,
    rgb(236, 102, 255, 1) 0%,
    rgba(28, 28, 40, 1) 100%
  );
}
